* {
    margin: 0px;
    padding: 0px;
}
.margin2px{
    margin-left: 20px;
}
.wrap {
    width: 100%;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f2f5;
}



.container-fb {
    /* margin-top: 5%; */
    width: 90%;
    height: 400px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-left: 30%;


}

.fb-thongtin {
    text-align: left;
    width: 45%;
    height: 100px;
    margin-left: -38%;
    margin-right: 5%;
}

.form {

    width: 38%;
    height: 550px;
}

.form-login {
    margin-bottom: 5%;
    margin-top: -3%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.thanhnang {
    background-color: black;
    opacity: 0.2;
    height: 1px;
    width: 90%;
    margin-top: 20px;
    margin-left: 5%;
}

form>a {
    width: 100%;
    height: 30px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #1877f2;
}

.input1 {

    width: 90%;
    font-size: 17px;
    margin-bottom: 2%;

    height: 50px;
    border-radius: 6px;
    padding-left: 15px;
    border: 0.1px solid rgb(182, 173, 173);
}

p {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-weight: inherit;
    font-size: 27px;
}

.button {
    margin-bottom: 10px;
    background-color: #1877f2;
    color: white;
    width: 95%;
    height: 50px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    font-size: 20px;
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
}

.button1 {
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #46c12e;
    color: white;
    width: 50%;
    margin-left: 5px;
    height: 50px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    font-size: 15px;

}

.fb {
    margin-left: -5%;
}

.input2 {
    border: 0.1px solid rgb(182, 173, 173);
    font-size: 17px;
    padding-left: 15px;
    /* margin-left: 5px; */
    width: 90%;
    margin-bottom: 2%;
    margin-top: 2%;
    height: 50px;
    border-radius: 6px;

}

.label1 {
    font-size: 17px;
    padding-left: 15px;
    /* margin-left: 5px; */
    width: 90%;
    margin-bottom: 2%;
    margin-top: 2%;
    height: 50px;
    border-radius: 6px;
}

form {

    text-align: center;
    width: 100%;
    height: 300px;
    border-radius: 15px;

}

.create {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin-left: 6%;

}

span {
    font-family: 'Roboto', sans-serif;

}

.footer {
    width: 100%;
    height: 250px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerall {
    width: 65%;
    height: 95%;
}

.footer-a {
    margin-top: 2%;
    width: 100%;
    height: auto;
}

.footer-a>a {
    text-decoration: none;
    margin-left: 1%;
    color: black;
    font-size: 12px;
    opacity: 0.7;
}



.footer-hr {
    margin-top: 2%;
    margin-left: 1%;
    width: 100%;
    height: 1px;
    opacity: 0.3;
    background-color: black;
}

.footer-a>a:hover {
    border-bottom: 0.5px solid black;
    opacity: 0.7;
}